header {
    background-color: #E6E6E6;
    vertical-align: middle;
}

#picture {
    vertical-align: middle;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 128px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #C4C4C4;;
}

h1, h2{
    background-color: #C4C4C4;
    color: #005677;
    padding-left: 15px;
    font-family:'Times New Roman';
    font-weight: 700;
}

#dob {
    margin-top: 5px;
    margin-bottom: 5px;
}

span {
    font-weight: bold; 
}

.experience {
    margin-left: 25px;
}

.description {
    margin-left: 105px;
}

footer{
    text-align: center;
    background-color: #005677;
    margin-top: 128px;
    color: white;
}

#footer {
    vertical-align: middle;
    display: inline-block;
    margin-right: 15px;
}

#instagram, #linkedin {
    vertical-align: middle;
    width: 2%;
    display: inline-block;
    margin-right: 15px;
}

/* #linkedin {
    vertical-align: middle;
    width: 2%;
    display: inline-block;
    margin-right: 15px;
} */

#github {
    vertical-align: middle;
    width: 3%;
    display: inline-block;
}